<div>
  <div class="row p-divider u-no-margin--left u-no-padding--left">
    <div class="col-6 p-divider__block">
      <h3 class="p-heading--four"><a href="/core/get-started">Build an embedded device&nbsp; &rsaquo;</a></h2>
      <p>Use Ubuntu Core to secure and keep your IoT deployments up to date.</p>
    </div>
    <div class="col-6 p-divider__block">
      <h3 class="p-heading--four"><a href="/snapcraft">Package and distribute your&nbsp;code&nbsp; &rsaquo;</a></h2>
      <p>Use Snapcraft to publish apps to Linux desktop, server, cloud and devices.</p>
    </div>
  </div>
</div>
